<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>com.example.event.EventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/EventServlet</url-pattern>
    </servlet-mapping>
</web-app>
